.hoverBox {
  position: relative;
  background: black;
  &:hover {
    &::after {
      content: ' ';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      border: 1px solid white;
      border-radius: var(--radius-md);
      z-index: -1;
      opacity: 1;
    }
  }
}
