@import "tailwindcss";

/* 定義主題變數 */
:root {
  --color-black: #000;
  --color-white: #fff;
}

/* 應用全局樣式 */
:root {
  color-scheme: dark;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
