@import 'tailwindcss';

:root {
  --spacing: 5px;
}

/* 應用全局樣式 */
:root {
  color-scheme: dark;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
